<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    {% block content %}

   <table style="width:100%" border="black">
      <tr>
        <th>path</th>
        <th>content</th>
      </tr>
      <tr>
        <td>http://127.0.0.1:5000/categorize</td>
        <td> Categorizes a JSON formatted booking in following format:
            <br/><br/>
            {<br/>
            "booking_date":" ",<br/>
            "valuta_date":" ",<br/>
            "text":" ",<br/>
            "usage":" ",<br/>
            "creditor_id":" ",<br/>
            "owner":" ",<br/>
            "iban":" ",<br/>
            "bic":" ",<br/>
            "amount':" "<br/>
            }
        </td>
      </tr>
      <tr>
        <td><a href="http://127.0.0.1:5000/inputform">http://127.0.0.1:5000/inputform</a></td>
        <td>Hier kann einen Transaktion manuell eingegben werden.</td>
      </tr>
    </table>
    {% endblock %}
</body>
</html>